<head>
    <title>Blog Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #d5ecff;">
        <a class="navbar-brand" href="{%url 'home'%}" style="font-family: 'Slabo 27px', serif;">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'home'%}"style="font-family: 'Slabo 27px', serif;">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'newblog'%}"style="font-family: 'Slabo 27px', serif;">Writing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'portfolio'%}"style="font-family: 'Slabo 27px', serif;">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'login'%}"style="font-family: 'Slabo 27px', serif;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'signup'%}"style="font-family: 'Slabo 27px', serif;">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'logout'%}"style="font-family: 'Slabo 27px', serif;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

{% block contents %}
<!--컨테츠가 올 예정ㅌ-->

</body>
{% endblock %}
